.cover__title-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.cover__title-link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}
@media screen and (max-width: 490px) {
  .cover__link {
    min-height: 280px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}
