.places__item-image {
  max-width: 460px;
  max-height: 100%;
  object-fit: cover;
  grid-row: 2;
}
@media screen and (max-width: 1024px) {
  .places__item-image {
    max-width: 440px;
  }
}
@media screen and (max-width: 768px) {
  .places__item-image {
    max-width: 100%;
  }
}
