.places__item-link {
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.2s ease-in;
}
.places__item-link:hover {
  opacity: 0.8;
}
