.header__links {
  display: flex;
  font-style: normal;
  padding: 0;
  margin: 0 0 6px 0;
  align-self: flex-end;
  list-style: none;
  column-gap: 18px;
}
@media screen and (max-width: 320px) {
  .header__links {
    margin: 0 0 2px 0;
  }
}
