.header__link_lang_ru:hover {
  opacity: 0.5;
}
.header__link_lang_ru:hover:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 30px;
  height: 1px;
  background-color: #fff;
}
