.footer__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  color: #fff;
  transition: opacity 0.2s ease-in;
}
.footer__link:hover {
  opacity: 0.6;
}
