.lead__title {
  max-width: 720px;
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .lead__title {
    padding: 0 24px;
  }
}
@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 65px;
    line-height: 61px;
  }
}
@media screen and (max-width: 490px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0;
    max-width: 288px;
  }
}
