.footer {
  margin: 92px 0 24px 0;
  padding: 0 48px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    margin-top: 64px;
    flex-direction: column;
  }
}
@media screen and (max-width: 490px) {
  .footer {
    padding: 0 118px 0 16px;
    align-items: flex-start;
    row-gap: 48px;
  }
}
